@page
@model APPSEC_Assignment2.Pages._2FAModel

<h2>Two-Factor Authentication</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="verificationField"></label>
        <input asp-for="verificationField" class="form-control" />
        <span asp-validation-for="verificationField" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="verificationField" />

    <button type="submit" class="btn btn-primary">Verify</button>
</form>
