@page
@model APPSEC_Assignment2.Pages.LoginModel

@inject IHttpContextAccessor contxt;
@{
    ViewData["Title"] = "Login Page";
}

<script>
    // Include the token in headers
    var userToken = "@HttpContext.Session.GetString("Username")";
    fetch(url, {
        headers: {
            "User-Token": userToken
        }
    });
</script>

<script src="https://www.google.com/recaptcha/api.js?render=6LfJx18pAAAAAHHFX2iPNcYLmuos32mh6iidOD3T"></script>



    <div class="text-center">
        <h1 class="display-4">Login page</h1>


    <div class="container mt-5">

        <div class="row justify-content-center align-items-center">

            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">Login </h1>

                <form method="post" asp-antiforgery="true">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label class="form-label" asp-for="LModel.Email">Email Address</label>
                        <input type="email" asp-for="LModel.Email" class="form-control" />
                        <span asp-validaton-for="LModel.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="LModel.Password">Password</label>
                        <input type="password" asp-for="LModel.Password" class="form-control" />
                        <span asp-validaton-for="LModel.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
                        <label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
                    </div>


                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />


                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (TempData["AccountLocked"] != null && (bool)TempData["AccountLocked"])
                    {
                        <div id="recoveryOption" style="display: none;">
                            <p>Your account is locked. Click <a href="/RecoverPassword">here</a> to recover your account.</p>
                        </div>
                    }

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>


                </form>

                @if (TempData.ContainsKey("AlertMessage"))
                {
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> @TempData["AlertMessage"]
                    </div>
                }
            </div>
        </div>
    </div>


    </div>


<script>
    // Wait for 1 minute
    setTimeout(function () {
        // Show the recovery option
        document.getElementById("recoveryOption").style.display = "block";
    }, 6000);
</script>

<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfJx18pAAAAAHHFX2iPNcYLmuos32mh6iidOD3T', { action: 'Login' }).then(function (token) {
            document.getElementById("g-recaptcha-response").value = token;
        });
    });
</script>
