@page
@model APPSEC_Assignment2.Pages.RecoverPasswordModel
@{
	ViewData["Title"] = "Recover Password";
}

<div class="container mt-5">
	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Forgot Password</h1>


			<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="Email">Email Address</label>
					<input type="Text" asp-for="Email" class="form-control" />
					<span asp-validaton-for="Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">
						Request Reset Link
					</button>
				</div>
			</form>

		</div>
	</div>
</div>